@import '~js-datepicker/dist/datepicker.min.css';
@import "~nice-select2/dist/css/nice-select2.css";
@import "~intl-tel-input/build/css/intlTelInput.css";

* {
    box-sizing: border-box;
}

.iti {
    --iti-path-flags-1x: url('~intl-tel-input/build/img/flags.webp');
    --iti-path-flags-2x: url('~intl-tel-input/build/img/flags@2x.webp');
    --iti-path-globe-1x: url('~intl-tel-input/build/img/globe.webp');
    --iti-path-globe-2x: url('~intl-tel-input/build/img/globe@2x.webp');
}

.iti__selected-dial-code {
    font-size: 14px;
}
.remarked-primary-widget__error-text {
    color: #E30613;
}

.remarked-primary-widget__wrap {
    position: fixed;
    z-index: 9999;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow-y: auto;
    background-color: rgba(25, 36, 49, 0.9);
    display: none;
}
.remarked-primary-widget--none {
    -webkit-animation-name: remarkedfadeOutModal;
    animation-name: remarkedfadeOutModal;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}
.remarked-primary-widget--active {
    display: block;
    -webkit-animation-name: remarkedfadeInModal;
    animation-name: remarkedfadeInModal;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}

.remarked-primary-widget__close {
    position: fixed;
    cursor: pointer;
    right: 40px;
    top: 20px;
}

.remarked-primary-widget {
    position: relative;
    overflow: hidden;
    padding: 40px 30px;
    width: 660px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 12px;
    margin: 60px auto;
    font-family: 'Nunito', sans-serif !important;
}

@-webkit-keyframes remarkedfadeInModal {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes remarkedfadeInModal {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes remarkedfadeOutModal {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes remarkedfadeOutModal {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.remarked-primary-widget__step-one,
.remarked-primary-widget__step-two {
    display: none;
}
.remarked-primary-widget__active-step {
    display: block;
}

.remarked-primary-widget input[type="text"],
.remarked-primary-widget input[type="number"] {
    border: 1px solid #C9C9C9;
    border-radius: 5px;
    height: 45px;
}

.remarked-primary-widget__main-title {
    width: 100%;
    text-align: center;
}
.remarked-primary-widget__main-title h1 {
    /* font-family: Monserrat; */
    font-size: 40px;
    color: #E30613;
    margin: 0;
    font-weight: 600;
}
.remarked-primary-widget__after-title-text {
    font-size: 40px;
    color: #E30613;
    opacity: 0.7;
    margin: 0;
    font-weight: 600;
}

.remarked-primary-widget__step-one-container {
    margin-top: 40px;
}

.remarked-primary-widget__step-one-container label {
    font-weight: 500;
    color: #383838;
    font-size: 16px;
    opacity: 0.96;
}

.remarked-primary-widget__step-one-container input {
    margin-top: 10px;
}

.remarked-primary-widget__date-input-wrap {
    width: 40%;
    display: inline-block;
}
.remarked-primary-widget__date-select {
    width: 100%;
    padding-left: 10px;
    margin-bottom: 20px;
    vertical-align: middle;
}

.remarked-primary-widget__qty-wrap {
    width: 25%;
    display: inline-block;
    margin-bottom: 20px;
}
.remarked-primary-widget__qty {
    height: 45px;
}

.remarked-primary-widget__times-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 -0.8%;
    margin-top: 30px;
}
.remarked-primary-widget__times-item {
    max-width: 9%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 11%;
    flex: 0 0 11%;
    margin: 0.7%;
    white-space: nowrap;
    text-align: center;
    border: 2px solid #E30613;
    border-radius: 8px;
    height: 35px;
    line-height: 35px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    font-family: 'Nunito', sans-serif !important;
    font-size: 14px;
}
.remarked-primary-widget__times-item.remarked-primary-widget__times-item--disabled {
    background-color: #F4F4F4;
    border-color: transparent;
    color: #0000009a;
    cursor: not-allowed !important;
}
.remarked-primary-widget__times-item:not(.remarked-primary-widget__times-item--disabled):hover,
.remarked-primary-widget__times-item--active {
  background-color: #E30613;
  color: #fff;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease
}

.remarked-primary-widget__checkbox-label {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}
.remarked-primary-widget__wish-checkboxes input {
    display: none;
}
.remarked-primary-widget__checkbox-box {
    width: 20px;
    height: 20px;
    border: 2px solid #E30613;
    border-radius: 4px;
    flex-shrink: 0;
    position: relative;
}
.remarked-primary-widget__checkbox-box::after {
    content: '';
    position: absolute;
    width: 4px;
    height: 9px;
    border: solid #E30613;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);

    top: 2px;
    left: 7px;

    opacity: 0;
}
.remarked-primary-widget__wish-checkbox-wrap input:checked + .remarked-primary-widget__checkbox-box::after {
    opacity: 1;
}

.remarked-primary-widget__checkbox-text,
.remarked-primary-widget__radio-text {
    user-select: none;
    /* font-family: Monserrat; */
    font-size: 16px;
    font-weight: 500;
    color: #383838;
}




.remarked-primary-widget__pay-type-wrap {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.remarked-primary-widget__radio-label {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    margin-bottom: 15px;
}

.remarked-primary-widget__radio-label input {
    display: none;
}

/* внешний круг */
.remarked-primary-widget__radio-box {
    width: 15px;
    height: 15px;
    border: 2px solid #E30613;
    border-radius: 50%;
    position: relative;
}

/* внутренняя точка */
.remarked-primary-widget__radio-box::after {
    content: '';
    position: absolute;
    width: 9px;
    height: 9px;
    background: #E30613;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.15s ease;
}

/* checked */
.remarked-primary-widget__radio-label input:checked + .remarked-primary-widget__radio-box::after {
    transform: translate(-50%, -50%) scale(1);
}

.remarked-primary-widget__next-step {
    background-color: #E30613;
    color: #fff;
    border-radius: 30px;
    width: 100%;
    height: 49px;
    line-height: 49px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    user-select: none;
    /* font-family: Montserrat; */
    transition: background-color 0.2s ease;
}

.remarked-primary-widget__next-step:hover {
    background-color: #87241d;
}



.tooltip {
  position: fixed;
  background: #333;
  color: #fff;
  padding: 6px 10px;
  border-radius: 4px;
  font-size: 12px;
  white-space: nowrap;
  z-index: 20000;
  opacity: 0;
  transition: opacity 0.15s;
  pointer-events: none;
}

.tooltip::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -6px;            /* вынос вниз */
  transform: translateX(-50%);
  
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #333; /* цвет как у тултипа */
}

.tooltip.show {
  opacity: 1;
}